/css
  /scss
    _variables.scss {
        $primary-color: rgb(128, 0, 128);
        $secondary-color: #fff;
        $font-stack: 'Arial', sans-serif;
    }


    _mixins.scss {
        @mixin flex-center {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
    }
    
    estilo.scss {
        @import 'variables';
@import 'mixins';

body {
  font-family: $font-stack;
  background-color: $primary-color;
  color: $secondary-color;
}
.header {
  @include flex-center;
  
}
    }
    
// Variables
$primary-color: rgb(128, 0, 128);
$secondary-color: #57124e;

.header {
  
  padding: 20px;
}

button {
  background-color: $secondary-color;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}


