.fondoinicio {
  background-image: url("../index/tumblr_13d2c753eed929097cc13bbb1d3e482c_ae238518_2048.webp");
  background-size: cover;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
}



